<!DOCTYPE html>
<html>
   <style> 
      body {
        background-color: #cccccc;
      }
   </style>
   <head>
      <link rel="stylesheet" type="text/class" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    </head>
    <body>

    <h1 style="color:#0000FF";>Sign up with us today!</h1> 
    <p style="color:#008080";>Please fill in this form to create an account.</p>
    <hr>
        <div>
            <form action='create_user' method='POST'>
                <input type='text' id='username' name='username'>

                <input type='password' id='password' name='password' >

                <input type='text' id='gender' name='gender'>

                <input type='text' id='year' name='year' minlength="4" maxlength="4">
                <input type='submit' value='Enter'>
            </form>
            
        </div>

             
        <!-- <div>
          <a href="{{url_for('signin')}}">
            <button type="button" class="cancelbtn">Back</button> 
          </a>
          <a href="{{url_for('mapview')}}">
            Sign Up
          </a>
        </div> -->
   </body>
</html>