<!DOCTYPE html>
<html>
   <style> 
      body {
        background-color: #cccccc;
      }
   </style>
   <head>
    <link rel="stylesheet" type="text/class" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
            <!-- Compiled and minified CSS -->
    </head>
    <body>

    <h1 style="color:#0000FF";>Sign up with us today!</h1> 
    <p style="color:#008080";>Please fill in this form to create an account.</p>
    <hr>
            
      <form>
          <p>Username 
            <input type = "text" name = "User ID" />
          </p>
           <p> Password 
            <input type = "text" name = "Password" />
          </p>
           <p> Repeat Password
            <input type ="text" name = "Repeat Password" />
          </p>
             
        <div>
          <a href="{{url_for('signin')}}">
            <button type="button" class="cancelbtn">Back</button> 
          </a>
          <a href="../maps/index.html">
            Sign Up
          </a>
        </div>
      </form>
   </body>
</html>