<!DOCTYPE html>
<html>
   <style> 
      body {
        background-color: #cccccc;
      }
   </style>
   <head>
      <link rel="stylesheet" type="text/class" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    </head>
    <body>

    <h1 style="color:#0000FF";>Sign up with us today!</h1> 
    <p style="color:#008080";>Please fill in this form to create an account.</p>
    <hr>
            
      <!-- <form method="POST">
          <p>Username 
            <input type = "text" name="username" />
          </p>
           <p> Password 
            <input type = "text" name="password" />
          </p>
           <p> Gender
           <input type = "text" name="sex" />
          </p>
          <p> Year of Birth
            <input type="text" name="birthyear">
      </form> -->

      <form action="result" method="POST">
        <input type="text" name="input" id="input"></input>
        <input type="submit" value="Signup"></input>
      </form>

             
        <!-- <div>
          <a href="{{url_for('signin')}}">
            <button type="button" class="cancelbtn">Back</button> 
          </a>
          <a href="{{url_for('mapview')}}">
            Sign Up
          </a>
        </div> -->
   </body>
</html>