{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <title>Testing Flask</title>
        {{campusmap.js}}
        {{doctormap.js}}
    </head>
    <body style="padding: 30px" >
        <h1 style="font-size:100px;text-align:center;margin-bottom:75px">Campus Contagions</h1>
        <div style="float:left;display:table">
            <div style = "display:table-row">
                <div style="height:13px;width:13px;background-color:#fd9827;float:left;display:table-cell;margin-right:5px"></div>
                <div style="margin-left:10px;display:table-cell;">Local Symptoms</div>
                <div style="height:13px;width:13px;background-color:red;float:left;display:table-cell;margin-left:10px;margin-right:10px"></div>
                <div style="margin-left:10px;display:table-cell">Local Diagnoses</div>
            </div>
        </div>
        

        <div style="width: 100%; overflow: hidden;margin-top:10px">
            <div style="margin-bottom:10px">{{campusmap.html}}</div>
            <div style=";display:table;">
                <div style = "display:table-row">
                    <div style="height:10px;width:10px;background-color:#6b95f9;float:left;display:table-cell;margin-right:13px"></div>
                    <div style="margin-left:13px;display:table-cell">Nearby Clinics</div>
                </div>
            </div>
            <div style="float:right;width: 100%; overflow: hidden;">
                <div style="">{{doctormap.html}}</div>
            </div>
        </div>
        <div>
            <form action='diagnostics' method='POST'>
                <input type='text' id='input' name='input' minlength='4'>
                <input type='submit' value='Enter'>
            </form>
            
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>
