{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/maps.css">

        <title>Campus Contagions</title>
        {{campusmap.js}}
        {{doctormap.js}}
    </head>
    <body style="padding: 30px" >
        <h1 style="font-size:100px;text-align:center;margin-bottom:75px">Campus Contagions</h1>
        <div >
            <div align = 'center' height="40px">
                <h3>Enter Symptoms (comma separated)</h3>
                <form action='diagnostics' method='POST' align='center'>
                    <p> Symptoms
                        <input type='text' id='symptoms' name='symptoms'>
                    </p>
                    <p> Gender
                        <input type='text' id='gender' name='gender'>
                    </p>
                    <p> Birth Year
                        <input type='text' id='yob' name='yob'>
                    </p>

                    <input type='submit' value='Enter'>
                </form>
            
        </div>
        <div style="float: left;">
            <h3> Symptom Map </h3>
            <div style="margin-bottom:10px">{{campusmap.html}}</div>
            <div id="campusmaplegend">
                <div style="height:13px;width:13px;background-color:#fd9827;float:left;display:table-cell;margin-right:5px"></div>
                <div style="margin-left:10px;display:table-cell;">Local Symptoms</div>
                <div style="height:13px;width:13px;background-color:red;float:left;display:table-cell;margin-right:10px"></div>
                <div style="margin-left:10px;display:table-cell">Local Diagnoses</div>
            </div>
        </div>
        <div style="float:right;">
            <h3> Doctor Map </h3>
            <div style="float:right;">
                <div style="">{{doctormap.html}}</div>
            </div>
            <div>
                <div>
                    <div style="height:10px;width:10px;background-color:#6b95f9;float:left;display:table-cell;margin-right:13px"></div>
                    <div style="margin-left:13px;">Nearby Clinics</div>
                </div>
            </div>
        </div>
            <div style="float:right;width: 100%; overflow: hidden;">
                <div style="">{{doctormap.html}}</div>
            </div>
        </div>
    </body>
</html>
