<!DOCTYPE html>
	<head>
		<title> Sign In </title>
		<script src="auth.js"></script>
	</head>
	<body>
		Hello! And wecome to <b> our creative app name </b> <br> <br>

		<h1> Sign In </h1>

		<label>Username: </label>
		<input type = "text"
               id = "myText"
               placeholder="type username here" />
		<label>Password: </label>
		<input type = "text"
               id = "myText"
               placeholder="type password here" />
        <br>
        <button> Sign In </button>

		<br><br><br><br>

		<h5>Don't have an account?</h5> 
		<a href="{{ url_for('create')}}"> Sign up here </a>
	</body>

</html>